version: '3.8'

services:
  postgres:
    image: postgres:16
    container_name: placeexplorer-postgres
    environment:
      POSTGRES_USER: placeexplorer_user
      POSTGRES_PASSWORD: placeexplorer_pass
      POSTGRES_DB: placeexplorer_db
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres_data: